html{
    background-color: #a7d213;
    background-size: 100% 100%;
}
.activityContainer{
	background: url(../assets/bg.jpg) no-repeat;
	height: 768px;
    width: 1024px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    bottom: 0px;
    margin: auto;
}
.inputClass{
	color: #444444;
    font-size: 50px;
    width: 80px;
    height: 80px;
    position: relative;
    padding-left: 5px;
    border-radius: 14px;
    text-align: center;
    border: none;
}
.inputContainer{
	width: 73%;
    height: 11%;
    top: 15%;
    left: 0px;
    right: 0px;
    margin: auto;
    position: relative;
}